root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = intellij_idea
# TODO Enable standard once most rules are addressed
ktlint_standard = disabled
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-wildcard-imports = enabled
